let cart = JSON.parse(localStorage.getItem("cart")) || [];

function addToCart() {
  cart.push({
    name: "Diamond Solitaire Ring",
    price: 2000
  });
  localStorage.setItem("cart", JSON.stringify(cart));
  alert("Added to cart");
}

if (document.getElementById("cartItems")) {
  let list = document.getElementById("cartItems");
  cart.forEach(item => {
    let li = document.createElement("li");
    li.textContent = item.name + " - " + item.price + " KWD";
    list.appendChild(li);
  });
}
